<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= locals.title %> </title>

    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
     <!--Styles from other ejsfiles-->
     <%- style %>

</head>
<body>
    
    <!--Header-->
    <%- include('./partials/_header.ejs'); %>

    <main id="layout-main">
        <%- body %>
    </main>

    <!--Footer-->
    <%- include('./partials/_footer.ejs'); %>

     <!--Scriptsfrom other ejsfiles-->
     <%- script %>
    
</body>
</html>